title = "Savings"
url = "/savings"
layout = "default"
description = "Savings page"
is_hidden = 0

[savings]
==
<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Megtakarítások</h1>
                <p>Bevételek és kiadások listája</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
     {% component 'savings' %}
</div>