.input-group {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-group label {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    width: 100px;
}

.row .form-input {
    width: 90%;
    height: 40px;
}

.radio-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.radio-container {
    width: 125px;
    height: 50px;
    /*border: red dashed 2px;*/
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.radio-container > label {
    width: auto;
}