{% for item in __SELF__.items %}
    <li class="list-group-item">
        <input type="hidden" name="items[]" value="{{ item.name }}" />
        
        <div class="column">
            <div class="row">
                <label>
                    Név:
                </label>
                <p>
                    {{ item.name }}
                </p>
            </div>
            <div class="row">
                <label>
                    Leírás:
                </label>
                <p>
                    {{ item.description }}
                </p>
            </div>
            <div class="row">
                <label>
                    Dátum:
                </label>
                <p>
                    {{ item.date }}
                </p>
            </div>
            <div class="row">
                <label>
                    Érték:
                </label>
                <p>
                    {{ item.value }}
                </p>
            </div>
        </div>

        <button type="button" 
            class="close" 
            aria-hidden="true" 
            onclick="$(this).closest('li').remove()">&times;</button>
    </li>
{% endfor %}