<form
    role="form"
    data-request="{{ __SELF__ }}::onAddItem"
    data-request-update="'{{ __SELF__ }}::list': '#result'"
    data-request-success="$(this).trigger('reset')"
    data-request-flash>
    {% put styles %}
        <link href="{{ 'assets/css/mystyle.css'|theme }}" rel="stylesheet" />
    {% endput %}
    <link href="mystyle.css" rel="stylesheet" />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Bevételek és kiadások listája</h3>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <div class="row">
                    <label for="input-name" class="label">Név</label>
                    <input type="text" id="input-name" class="form-input" value="" name="name" placeholder="Név">
                </div>
                <div class="row">
                    <label for="input-desc" class="label">Leírás</label>
                    <input type="text" id="input-desc" class="form-input" value="" name="description" placeholder="Leírás">
                </div>
                <div class="row">
                    <label for="input-date" class="label">Dátum</label>
                    <input type="date" id="input-date" class="form-input" value="" name="date" placeholder="">
                </div>
                <div class="radio-row">
                    <div></div>
                    <div class="radio-container">
                        <input type="radio" id="income" class="styled" name="incomeexpense" value="income" checked="checked">
                        <label for="income">Bevétel</label>
                    </div>
                    <div class="radio-container">
                        <input type="radio" id="expense" name="incomeexpense" value="expense">
                        <label for="expense">Kiadás</label>
                    </div>
                    <div></div>
                </div>
                <div class="row">
                    <label for="input-value" class="label">Érték</label>
                    <input type="text" id="input-value" class="form-input" value="" name="value" placeholder="Érték">
                </div>
            
                <!-- IDE JÖN A DEVIZAVÁLASZTÓ-->

                <button type="submit" class="btn btn btn-primary" data-attach-loading>Add</button>
            
                <!--span class="input-group-btn">
                    <button type="submit" class="btn btn btn-primary" data-attach-loading>Add</button>
                </span-->
            </div>
        </div>
        <ul class="list-group" id="result">
        </ul>
    </div>
</form>
